
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    padding: 15px;
}
h1, h2{
    color: green;
}
a:hover{
    transition: 0.5s all;
    color: green;
}
a{
    text-decoration: none;
    color: black;   
}
nav{
    display: flex;
    justify-content: center;
}
nav > a{
    margin-right: 20px;
}
main{
    min-width: 280px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}
img{
    max-width: 800px;
    border-radius: 20px;
}
footer img:hover{
    transform: scale(1.1);
}
footer{
    margin-top: 30px;
    display: flex;
    flex-direction:row ;
    justify-content: center;
}
footer>a{
    margin-left: 20px;
}
hr{
    margin-top: 20px;
}
.contatos{
    text-align: center;
}